<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mistertfy64 NotRealMoney</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="./css/dashboard.css" rel="stylesheet">
</head>

<body>
  <div id="content-container">
    <div id="balance-container">
      <div style="display:flex;justify-content:space-between;align-items:baseline">
        <h1>Balance</h1>
        <div>
          <%-include("../partials/rank.ejs",{rank:data.membership})%> <%=data.username%>
        </div>
      </div>
      <hr>
      <div style="text-align:right;">
        <span class="s-large-text">NRM¢</span><span class="x-large-text"><%=data.money%></span>
      </div>
      <div class="gems-text" style="display:flex;justify-content:end;align-items:baseline">
        <span class="large-text">NRG♦</span><span class="s-large-text"><%=data.gems%></span></span>
      </div>
      <hr>
    </div>
  </div>
  </div>

</body>

</html>