<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mistertfy64 NotRealMoney</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="./css/index.css" rel="stylesheet">
  <link href="./css/global.css" rel="stylesheet">
</head>

<body>
  <div id="content-container">
    <div id="login-form-container">
      <h1>Login</h1>
      <hr>
      <form id="login-form" method="POST" action="/login">
        <div id="credentials">
          <div class="credential">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" id="username">
          </div>
          <br>
          <div class="credential">
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" id="password">
          </div>

        </div>
        <br>
        <div id="submit-container">
          <input type="submit" id="submit">
        </div>
      </form>
    </div>
    <div id="wordmark-container">
      <a href="https://mistertfy64.com">
        <img src="https://storage.mistertfy64.com/mistertfy64.png" width="auto" height="20"> </a>
      <br>
      <a href="https://github.com/mistertfy64/notrealmoney.mistertfy64.com">Repository</a>
    </div>
  </div>

</body>

</html>