<footer>
  <div id="footer">
    <a class="footer-button">NotRealMoney 0.1.0</a>
    <a class="footer-button"><span title="My Account" alt="My Account" class="material-symbols-outlined">
        account_balance_wallet
      </span></a>
    <a class="footer-button"><span title="Leaderboards" alt="Leaderboards" class="material-symbols-outlined">
        leaderboard
      </span></a>
    <a class="footer-button"><span title="Administrator Panel" alt="Administrator Panel" class="material-symbols-outlined">
        admin_panel_settings
      </span></a>
  </div>
</footer>