<% if (rank.isSuperAdministrator){%>
<%- "<span style='padding:2px 4px;background-color:#ff1636;color:#ffffff'>Super Administrator</span>" %>
<% } else if (rank.isAdministrator){%>
<%-"<span style='padding:2px 4px;background-color:#e73f56;color:#ffffff'>Administrator</span>" %>
<% } %>